/* Estilo geral da página */
body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
  }
  
  .container {
    max-width: 50%;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
  /* Estilo do cabeçalho */
  h2 {
    color: #333;
    text-align: left;
  }
  
  /* Estilo dos artigos */
  h3 {
    color: #0073e6;
  }
  
  a {
    text-decoration: none;
    color: #0073e6;
    word-wrap: break-word;
  }
  
  p {
    line-height: 1.5;
    margin-bottom: 20px;
    text-align: justify;
  }
  
  strong {
    font-weight: bold;
  }
  
  /* Estilo para smartphones */
  @media (max-width: 768px) {
    .container {
      padding: 10px;
    }
  
    h2 {
      font-size: 24px;
    }
  
    h3 {
      font-size: 20px;
    }
  
    p {
      font-size: 16px;
    }
  }
  